<div class="filters">
    <mat-form-field class="">
        <mat-label>Sort</mat-label>
        <mat-select
        panelClass = "sort-select"
        [(ngModel)] = "sort">
        <mat-option value = 'Name'>Name</mat-option>
        <mat-option value = 'Released'>Released</mat-option>
        <mat-option value = 'Added'>Added</mat-option>
        <mat-option value = 'Updated'>Updated</mat-option>
        <mat-option value = 'Rating'>Rating</mat-option>
        <mat-option value = 'Metacritic'> Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="games">
        <div class="game">
            <div class="game-thumb-container">
                <img src=""
                 alt=""
                 class="game-thumb">
            </div>
            <div class="game-description">
                <p class="game-name">Nome</p>
                <div class="game-platforms">
                    <img src="" alt="slug" class="game-platform">
                </div>
            </div>
        </div>
    </div>
</div>